* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#game-menu,
#game-area,
#endgame-area {
    width: 100vw;
    height: 100vh;
    background-color: #cccccc;
}

#game-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#title {
    align-self: center;
    font-size: 12vw;
    font-style: italic;
    width: fit-content;
    height: fit-content;
    margin-bottom: 80px;
    cursor: default;
}

.start-btn {
    align-self: center;
    width: max-content;
    height: max-content;
    font-size: 4vw;
    cursor: pointer;
    padding: 5px;
    background-color: #eeeeee;
}
/* 
#game-menu {
    display: none;
} */

#game-area {
    background-color: #333333;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#current-player-h2 {
    color: #cccccc;
    font-size: 6vh;
    margin-bottom: 30px;
}

#upper-band {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 20px;
    align-self: center;
}

#upper-band div {
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
}

#grid {
    align-self: center;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    width: 20px;
    height: 20px;
    /* background-color: blue; */
}

.player-one {
    background-color: #eeeeee;
    border-radius: 10px;
}

.player-two {
    background-color: #111111;
    border-radius: 10px;
}

#instructions {
    color: #cccccc;
    font-size: 3vh;
}

#endgame-area {
    display: none;
    justify-content: center;
    flex-direction: column;
}

#endgame-area h1 {
    align-self: center;
    font-size: 8vw;
    margin-bottom: 80px;
}